pkgbase = zen-browser-compat-bin
	pkgdesc = Performance oriented Firefox-based web browser
	pkgver = 1.14.7b
	pkgrel = 1
	url = https://github.com/zen-browser/desktop
	arch = x86_64
	arch = aarch64
	license = MPL-2.0
	depends = gtk3
	depends = libxt
	depends = mime-types
	depends = dbus-glib
	depends = nss
	depends = ttf-font
	depends = systemd
	optdepends = ffmpeg: H264/AAC/MP3 decoding
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = libnotify: Notification integration
	optdepends = pulse-native-provider: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = hunspell-en_US: Spell checking, American English
	provides = zen-browser=1.14.7b
	conflicts = zen-browser
	options = !strip
	source = zen-browser.sh
	source = zen.desktop
	source = policies.json
	sha256sums = c1a4ad7fd56600947b17733684aea6dec2e4cc42396b1be628def8d4be47ac6b
	sha256sums = aa44bc42f783074c9510ec1253df43b5e0191da1f08b63277bc8eb5cbd56b83f
	sha256sums = 7c9fc215ed5f7fb608e07b05c0b9c6e1ea80a9801b5fecacae35fb3287d4e619
	source_x86_64 = zen-browser-1.14.7b-1-x86_64.tar.xz::https://github.com/zen-browser/desktop/releases/download/1.14.7b/zen.linux-x86_64.tar.xz
	sha256sums_x86_64 = b4bec09c67eb4b0d86f4ca1b2b4a065f9217bbf0836f0ef82462ae285ad80b47
	source_aarch64 = zen-browser-1.14.7b-1-aarch64.tar.xz::https://github.com/zen-browser/desktop/releases/download/1.14.7b/zen.linux-aarch64.tar.xz
	sha256sums_aarch64 = 026981bbe03c97ebd39e3458b197346686f362a5e6cf0cde0629205fde7b3d1d

pkgname = zen-browser-compat-bin
